{% extends "skeleton/_base.html" %}

{% block title %}{{ site.name }}{% endblock %}

{% block content %}
    <div class="container">
    <div class="hero-unit">
        {% filter typogrify %}
            <h1>
                Hello,
                I'm
                <a href="http://microbusiness.me/about/" class="fn url">Yuri<span class="last-name"> Karabatov</span></a>.
            </h1>

            <p>
                I show people the way to make a positive change in the world by doing more of what they love and less of what they don't, and&nbsp;— the best part&nbsp;— getting paid for it.
            </p>

            <p>
                Click my name to find out more.
            </p>
        {% endfilter %}
    </div>
    </div>
{% endblock %}
